
/*grid*/

.viewport-container{
    height: 100vh;
    width: 100vw;
}
.body{
    margin: 0px;
}
.layout{
    display: grid;
    height: 100%;
    grid-template-rows: 12%  1fr 10%;
    grid-template-columns: auto;
}
.align-items-center{
    align-items: center;
}
.align-end{
    align-content: flex-end
}
.align-self-center{
    align-self: center;
}
.justify-center{
    justify-content: center;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-left{
    justify-content: left;    
}
.justify-right{
    justify-content: right;    
}
.justify-even{
    justify-content: space-evenly;    
}
<<<<<<< HEAD
.justify-content-space-around{
    justify-content: space-around;
}

=======
.align-item-top{
    align-self: auto; 
}
>>>>>>> 7b4e117458abe96d59c5775789c6424f7407a84f
.navbar{
grid-row: 1 / 2;
grid-column: 1  / 2;
}

.content{
grid-row: 2 / 3;
grid-column: 1 /2;
}

.fotter{
    grid-row: 3 / 4;
    grid-column: 1 /2;   
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-50{
    margin-top: 50px;
}

/*headliner*/
.headliner{
    display:flex;
    padding:10px;
}
/*Flexbox*/
.Horizontal-split{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    }

.flex-row{
    display: flex;
    flex-direction: row; 
    height: 100%;
}

.flex-art-boxes{
    display:flex;
    height:600px;
    width:300px;
    padding:20px;
}
.flex-art-box{
    display: flex;
    height: 100px;
    width: 100px;
    padding: 10px;
}


.flex-carusell{
    height:600px;
    display:flex;
    padding:5px;

}
.flex-auto{
    flex: auto;
}
.flex1{
    flex: 1;
}

.flex-column{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-wrap{flex-wrap: wrap;
}
.login-box{
<<<<<<< HEAD
    margin: 5em;
=======
    margin: 5px;
>>>>>>> 7b4e117458abe96d59c5775789c6424f7407a84f
    height: 10em;
    width: 30em;
    border: double 1px black;
}
.login-box-line{
    margin: 5px;
    height: 2em;
    width: 8em;
    background-color: antiquewhite;
    border: solid 1px black;    

}
<<<<<<< HEAD
/*padding*/
.padding-2{
    padding:2px;
}
.padding-10{
    padding:10px;
}
.padding-20{
    padding: 20;
}
.padding-30{
    padding: 30;
}
.padding-40{
    padding: 40;
}
.padding-50{
    padding: 50;
}
.vu-btn{
    height:100%;
    border: none;
    cursor: pointer;
    text-align: center;
    border: solid 1px;
    padding: 1em;
    margin:0;
}
.vu-btn:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}
=======
.text-box{
    height: 10em;
    width: 40em;
    background-color: lightgray;
    border: double 0.5px black;
    
    
}
>>>>>>> 7b4e117458abe96d59c5775789c6424f7407a84f
