
/*grid*/

.viewport-container{
    height: 100vh;
    width: 100vw;
}
.body{
    margin: 0px;
}
.layout{
    display: grid;
    height: 100%;
    grid-template-rows:  8%  1fr 10%;
    grid-template-columns: auto;
}
.align-items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-content-space-around{
    justify-content: space-around;
}
.align-self-center{
    align-self: center;
}
.align-item-top{
    align-self: auto; 
}
.navbar{
grid-row: 1 / 2;
grid-column: 1  / 2;
}

.content{
grid-row: 2 / 3;
grid-column: 1 /2;
}

.fotter{
    grid-row: 3 / 4;
    grid-column: 1 /2;   
}

/*Flexbox*/
.Horizontal-split{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    }
.flex-row{
    display: flex;
    flex-direction: row; 
    height: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-wrap{flex-wrap: wrap;
}
.login-box{
    margin: 5px;
    height: 10em;
    width: 30em;
    border: double 1px black;
}
.login-box-line{
    margin: 5px;
    height: 2em;
    width: 8em;
    background-color: antiquewhite;
    border: solid 1px black;    

}
.text-box{
    height: 10em;
    width: 40em;
    background-color: lightgray;
    border: double 0.5px black;
    
    
}